<div class="row">
  <div class="col">
    <div class="card" style="background: #1660d5">
      <div class="card-body">
        <div class="row">
          <div class="col">
        <h3><i class="bi bi-facebook"></i></h3>
          </div>
          <div class="col">
        <h5 class="card-title" style="text-align: right"><strong>Facebook feed</strong></h5>
          </div>
        </div>
        <p class="card-text">Holistically benchmark plug imperative for multifunctional deliverable. Seamlessly incubates</p>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="background: #789ed5">
      <div class="card-body">
        <div class="row">
          <div class="col">
        <h3><i class="bi bi-twitter"></i></h3>
          </div>
          <div class="col">
        <h5 class="card-title" style="text-align: right"><strong>Twitter feed</strong></h5>
          </div>
        </div>
        <p class="card-text">Holistically benchmark plug imperative for multifunctional deliverable. Seamlessly incubates</p>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="background: #d5313e">
      <div class="card-body">
        <div class="row">
          <div class="col">
        <h3><i class="bi bi-google"></i></h3>
          </div>
          <div class="col">
        <h5 class="card-title" style="text-align: right"><strong>Google Plus</strong></h5>
          </div>
        </div>
        <p class="card-text">Holistically benchmark plug imperative for multifunctional deliverable. Seamlessly incubates</p>
      </div>
    </div>
  </div>
</div>
